body {
  width: 90%;
  margin: auto;
  font-family: monospace;
  line-height: 150%;
  font-size: 11pt;
  padding: 40px;
}

@media screen and (min-width: 850px) {
  body {
    width: 800px;
  }
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15pt;
  margin-top: 15pt;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 15pt;
  margin-top: 30pt;
  margin-left: -25px;
}

li {
  margin-bottom: 10pt;
}

pre {
  padding: 10pt;
  border-style: dashed;
  border-width: 1px;
  font-size: 9pt;
}

blockquote {
  color: #888888;
}